@charset "UTF8";
 
ul#albumfotos{
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none ;
  }

ul#albumfotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border:5px solid rgb(255, 255, 255);
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    -webkit-transition: all .3s ease-in;
}


  header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
  }
  
  header#cabecalho h1{
  font-family: 'FonteLogo', sans-serif;
  font-size: 30px ;
  color:#606060;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6) ;
  padding: 0px;
  margin-bottom: 0px;
  }
  
  header#cabecalho h2{
  font-family: arial, sans-serif;
  color: #888888;
  font-size: 15pt;
  padding: 0px;
  margin-top: 0px;
  }
  
  header#cabecalho-do-artigo h1 {
    font-family: 'FonteLogo', sans-serif ;
    font-size: 20pt;
    color:#606060;
    margin-bottom: 0px;
  }
  
  
  header#cabecalho-do-artigo h2 {
    font-size: 13pt;
    color:#cecece;
    background-color: #ffffff;
    margin: 0px;
  }
  
  header#cabecalho  img#icone{
    position:relative;
    left: 725px;
    top: -35px;
  }

ul#albumfotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
   font-size: 9pt;
   line-height: 370px;
   padding: 5px;
}

ul#albumfotos li:hover span{
    opacity: 1;
}

ul#albumfotos li:hover{
    -webkit-transform: scale(1.5);
}

ul#albumfotos li#f1{
background: url('../_imagens/galeria-01.jpg') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px; 
background-color: #ffffff;
}

ul#albumfotos li#f2{
background: url('../_imagens/galeria-02.jpg')no-repeat;
background-position: 50% 50%;
background-size: 400px 400px; 
background-color: #ffffff; 
}

ul#albumfotos li#f3{
background: url('../_imagens/galeria-03.jpg') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px; 
background-color: #ffffff;
}

ul#albumfotos li#f4{
background: url('../_imagens/galeria-04.jpg') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px; 
background-color: #ffffff;
}

ul#albumfotos li#f5{
background: url('../_imagens/galeria-05.jpg') no-repeat;
background-position: 50% 50%;
    background-size: 400px 400px; 
background-color: #ffffff;
}

ul#albumfotos li#f6{
background: url('../_imagens/galeria-06.jpg') no-repeat;
background-position: 50% 50%;
background-size: 400px 400px; 
background-color: #ffffff;
}

ul#albumfotos li#f1:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumfotos li#f2:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumfotos li#f3:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumfotos li#f4:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumfotos li#f5:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#albumfotos li#f6:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
  }
  
  /*Formatação do menu*/
  
  body {
    font-family: arial, sans-serif;
    background-color: rgb(206, 205, 205);
    color: rgba(0,0,0,1);
    
  }
  
   nav#menu{
    display: block;
  }
  nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position:relative;
    top: -238px;
    left: 260px;
  }
  nav#menu li{
  display: inline-block;
  background-color: #dddd;
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;
  
  }
  
  nav#menu li:hover{
  background-color: #606060;
  }
  nav#menu h1{
  display:none;
  }
  nav#menu a{
  color: #000000;
  text-decoration: none;
  }
  
  header#cabecalho  img#icone{
    position:relative;
    left: 725px;
    top: -35px;
  }
  
  header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
  }
  
  header#cabecalho h1{
  font-family: 'FonteLogo', sans-serif;
  font-size: 30px ;
  color:#606060;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6) ;
  padding: 0px;
  margin-bottom: 0px ;
  }
  
  header#cabecalho h2{
  font-family: arial, sans-serif;
  color: #888888;
  font-size: 15pt;
  padding: 0px;
  margin-top: 0px;
  }
  
  header#cabecalho-do-artigo h1 {
    font-family: 'FonteLogo', sans-serif ;
    font-size: 20pt;
    color:#606060;
    margin-bottom: 0px;
  }
  
  
  header#cabecalho-do-artigo h2 {
    font-size: 13pt;
    color:#cecece;
    background-color: #ffffff;
    margin: 0px;
  }
  


  
  .direita{
    text-align: right;
  }
  
  
  div#interface{
     width: 900px;
     background-color: white;
     margin: -20px auto 0px auto;
     box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
     padding: 10px;
  }
   
  
   p {
      text-align: justify;
      text-indent: 50px;
     }
  
     a{
      text-decoration: none;
      color: #606060
     }
  
     a:hover{
      text-decoration: underline ;
     }

     section#corpo{
        display: block;
        width: 500px;
        float: left;
        border-right: 1px solid #606060;
        padding-right: 15px;
      }
  
      footer#rodape {
        clear: both;
        border-top: 1px solid #606060 ;
      }
  
      footer#rodape p{
        text-align: center;
        color: #000000;
        text-decoration: none;
      }
  
      footer#rodape a{
        color: #000000;
        text-decoration: none;
      }
  
     